

li {
  list-style: none;
}

:root {
  --twinkle-duration: 2s;
}

.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: twinkle var(--twinkle-duration) ease-in-out infinite;
  animation: twinkle var(--twinkle-duration) ease-in-out infinite;
}

.stars:nth-child(2) {
  -webkit-animation-delay: calc(var(--twinkle-duration) * -0.33);
  animation-delay: calc(var(--twinkle-duration) * -0.33);
}

.stars:nth-child(3) {
  -webkit-animation-delay: calc(var(--twinkle-duration) * -0.66);
  animation-delay: calc(var(--twinkle-duration) * -0.66);
}

@-webkit-keyframes twinkle {
  25% {
    opacity: 0;
  }
}

@keyframes twinkle {
  25% {
    opacity: 0;
  }
}

.star {
  fill: white;
}

.star:nth-child(3n) {
  opacity: 0.8;
}

.star:nth-child(7n) {
  opacity: 0.6;
}

.star:nth-child(13n) {
  opacity: 0.4;
}

.star:nth-child(19n) {
  opacity: 0.2;
}